<!DOCTYPE html >
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Cursos On line</title>
        <link href="../../../assets/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="mainPan">
            <div id="leftPan">
                <div id="leftTopPan">
                    <a href="index.html"><img src="http://faby.esy.es:81/plataforma/assets/images/logo.png" title="Curso" alt="Curso" width="160" height="39" border="0" /></a> </div>
                <ul>
                    <li class="home">Inicio</li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Galeria</a></li>
                    <li><a href="#">Catalogos</a>
                    </li>
                    <li><a href="#">Acerca de</a></li>
                    <li class="contact"><a href="#">Contactanos </a></li>
                </ul>
                <form action="" method="post">
                    <h2>Miembros</h2>
                    <label>Usuario:</label>
                    <input name="Su nombre" type="text" id="Yourname" />
                    <label>Contraseña:</label>
                    <input name="password" type="password" id="password" />
                    <input name="" type="submit" class="button" value="Entrar" />

                </form>
            </div>
            <div id="rightPan">
                <h1> </h1>

                <!--menu horizobtal-->


            </div>
        </div>
        <div id="footermainPan">
            <div id="footerPan">
                <ul>
                    <li><a href="#">Facebook</a>| </li>
                    <li><a href="#">Twitter</a> | </li>
                    <li><a href="#">Google plus</a>| </li>
                </ul>
                <p class="copyright">Plataforma online &copy;</p>
            </div>
        </div>
    </body>
</html>
